In [1]:
import os 
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [25]:
# help pd?
# pd?
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [2]:
# working directory
os.getcwd()

'C:\\Users\\prabh\\COMVIVA_AI_ML'

In [3]:
# chnage the directory
# os.chdir("C:\\Users\\prabh\\COMVIVA_AI_ML")

In [4]:
# load the dataset store.csv
data = pd.read_csv("Store.csv")

In [6]:
# print the data
# data
# print the dimension
data.shape

(9994, 22)

In [7]:
# extract the first 10 rows
data.head(10)
# extract the last 10 rows
# data.tail(10)

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,1,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,1,2,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,3,4,US-2012-108966,10-11-2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,4,5,US-2012-108966,10-11-2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,5,6,CA-2011-115812,06-09-2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,6,7,CA-2011-115812,06-09-2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,7,8,CA-2011-115812,06-09-2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,8,9,CA-2011-115812,06-09-2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,9,10,CA-2011-115812,06-09-2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700

In [9]:
# information about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     9994 non-null   int64
 1   Row ID         9994 non-null   int64
 2   Order ID       9994 non-null   object
 3   Order Date     9994 non-null   object
 4   Ship Date      9994 non-null   object
 5   Ship Mode      9994 non-null   object
 6   Customer ID    9994 non-null   object
 7   Customer Name  9994 non-null   object
 8   Segment        9994 non-null   object
 9   Country        9994 non-null   object
 10  City           9994 non-null   object
 11  State          9994 non-null   object
 12  Postal Code    9994 non-null   int64
 13  Region         9994 non-null   object
 14  Product ID     9994 non-null   object
 15  Category       9994 non-null   object
 16  Sub-Category   9994 non-null   object
 17  Product Name   9994 non-null   object
 18  Sales          9994 non-null   float64
 19  Quantity       9994 non-null   int64
 20  Discount       9994 non-null   float64
 21  Profit         9994 non-null   float64
dtypes: float64(3), int64(4), object(15)
memory usage: 1.7+ MB

In [10]:
#missing values
# data.isnull()
# count the missing values
#data.isnull().sum()
# overall dataset how many null values
data.isnull().sum().sum()

0

In [11]:
# statistical summary for numeric columns
data.describe()

,Unnamed: 0,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4996.500000,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,0.000000,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2498.250000,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4996.500000,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7494.750000,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9993.000000,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [12]:
# statistical summary for all columns
data.describe(include = "all")

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994,9994,9994,9994,9994,9994,9994,9994,...,9994.000000,9994,9994,9994,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000
unique,NaN,NaN,5009,1238,1334,4,793,793,3,1,...,NaN,4,1862,3,17,1850,NaN,NaN,NaN,NaN
top,NaN,NaN,CA-2014-100111,09-06-2013,12/16/2012,Standard Class,WB-21850,William Brown,Consumer,United States,...,NaN,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope,NaN,NaN,NaN,NaN
freq,NaN,NaN,14,38,35,5968,37,37,5191,9994,...,NaN,3203,19,6026,1523,48,NaN,NaN,NaN,NaN
mean,4996.500000,4997.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55190.379428,NaN,NaN,NaN,NaN,NaN,229.858001,3.789574,0.156203,28.656896
std,2885.163629,2885.163629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32063.693350,NaN,NaN,NaN,NaN,NaN,623.245101,2.225110,0.206452,234.260108
min,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1040.000000,NaN,NaN,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000
25%,2498.250000,2499.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23223.000000,NaN,NaN,NaN,NaN,NaN,17.280000,2.000000,0.000000,1.728750
50%,4996.500000,4997.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56430.500000,NaN,NaN,NaN,NaN,NaN,54.490000,3.000000,0.200000,8.666500
75%,7494.750000,7495.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90008.000000,NaN,NaN,NaN,NaN,NaN,209.940000,5.000000,0.200000,29.364000
max,9993.000000,9994.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99301.000000,NaN,NaN,NaN,NaN,NaN,22638.480000,14.000000,0.800000,8399.976000

In [13]:
# statistical summary for object type all columns
data.describe(include = "object")

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
count,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994
unique,5009,1238,1334,4,793,793,3,1,531,49,4,1862,3,17,1850
top,CA-2014-100111,09-06-2013,12/16/2012,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope
freq,14,38,35,5968,37,37,5191,9994,915,2001,3203,19,6026,1523,48

In [14]:
data['Ship Mode']

0         Second Class
1         Second Class
2         Second Class
3       Standard Class
4       Standard Class
             ...
9989      Second Class
9990    Standard Class
9991    Standard Class
9992    Standard Class
9993      Second Class
Name: Ship Mode, Length: 9994, dtype: object

In [15]:
# counts the frequency of each unique entry in the column
data['Ship Mode'].value_counts()

Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: Ship Mode, dtype: int64

In [1]:
#retrive the data as per the data type
print("the integer data type columns")
data.select_dtypes(include = 'int64')

the integer data type columns

NameError: name 'data' is not defined

In [18]:
#retrive the data as per the data type
print("the float data type columns")
data.select_dtypes(include = 'float64')

the float data type columns

         Sales  Discount    Profit
0     261.9600      0.00   41.9136
1     731.9400      0.00  219.5820
2      14.6200      0.00    6.8714
3     957.5775      0.45 -383.0310
4      22.3680      0.20    2.5164
...        ...       ...       ...
9989   25.2480      0.20    4.1028
9990   91.9600      0.00   15.6332
9991  258.5760      0.20   19.3932
9992   29.6000      0.00   13.3200
9993  243.1600      0.00   72.9480

[9994 rows x 3 columns]

In [19]:
#retrive the data as per the data type
print("the object data type columns")
data.select_dtypes(include = 'object')

the object data type columns

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
0,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
2,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
3,US-2012-108966,10-11-2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
4,US-2012-108966,10-11-2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2011-110422,1/22/2011,1/24/2011,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle
9990,CA-2014-121258,2/27/2014,03-04-2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...
9991,CA-2014-121258,2/27/2014,03-04-2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone
9992,CA-2014-121258,2/27/2014,03-04-2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5"""
9993,CA-2014-119914,05-05-2014,05-10-2014,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou..."

In [22]:
# filter the data
# filter the data by segment = consumer
seg_Cons = data[data['Segment'] == 'Consumer']
seg_Cons.shape
seg_Cons.head(3)

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,1,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,1,2,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,3,4,US-2012-108966,10-11-2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310

In [24]:
# Query t filter the data 
# filter the data by segments = consumer
data.query('Segment =="Consumer"').head(3)

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,1,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,1,2,CA-2013-152156,11-09-2013,11-12-2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,3,4,US-2012-108966,10-11-2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310